/* Global */

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   font-family: "Ubuntu", sans-serif;
}
html {
   height: 100%;
}
body {
   height: 100%;
   display: flex;
   flex-direction: column;
}
.container {
   max-width: 1200px;
   width: 100%;
   margin: auto;
}
.d-flex {
   display: flex;
}

/* site header */
.site-header {
   background-color: blue;
   height: 50px;
}

/* site main */
main {
   flex-grow: 1;
}

/* site footer */
.site-footer {
   background-color: blue;
   height: 50px;
}

/* responsive design */
@media (max-width: 1200px) {
   .container {
      max-width: 992px;
      width: 100%;
      margin: auto;
   }
}
@media (max-width: 992px) {
   .container {
      max-width: 768px;
      width: 100%;
      margin: auto;
   }
}
@media (max-width: 768px) {
   .container {
      max-width: 576px;
      width: 100%;
      margin: auto;
   }
}
@media (max-width: 576px) {
   .container {
      max-width: 100%;
      width: 100%;
      margin: auto;
   }
}
